/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-spartan bg-lightBg dark:bg-darkBg;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

header {
  z-index: 10;
}
